
$clrRoxo: rgba(105,47,165,1);
$clrCinza: rgba(243,243,243,1);
$font: 'Roboto', sans-serif; 

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: $font;
  width: 100% !important;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  // background-color: rgba(1,1,1,1);
}
